@import 'variables';
@import 'mixins';
@import 'functions';

body{
	margin:0;
	padding:0;
}
section{
	padding-top: 15%;
}


.slides{
  margin-top: 100px;
  margin-bottom: 15% !important;
  position: relative;
  height: 600px !important; 
  width: 100%;
  background-color: white !important;
}

.slider{
	height: 650px !important;
	margin-bottom: 10% ;
}
.button{
	&--active{
		@include buttonActive(25%);
	}
	&--active__little{
		@include buttonActive(4%);	
	}
}

.icon{
	&--module{
		&__size{
			width: 10%;
		}
	}
}

.success{
	background-color: $amarillo-btn;
	&--validation{
		margin-top: 45%;
	}
}

input[type=text]:not(.browser-default), 
input[type=number]:not(.browser-default), 
input[type=password]:not(.browser-default),
input[type=email]:not(.browser-default) {
	font-size: 2rem;
	margin: 3% 0 20px 0;
}

.date {
	input[type=number]:not(.browser-default){
		margin: 0;
	}
}

[type="checkbox"]+label{
	font-size: 1.5rem;
}

.dark-purple{
	background-color: $morado-dark;
}
.light-purple{
	background-color: $morado-light;
}

div.row.light-purple{
	margin:0;
}

.under{
	position: fixed;
	text-align: center;
	bottom: 10%;
	width:100%;
}

.flex{
	display: flex;
	vertical-align: center;
}