<!DOCTYPE html>
<html lang="es">
	<head>
		<title>Registrar Número</title>
		<meta charset="utf-8">
		<link rel="stylesheet" href="../static/materialize/dist/css/materialize.min.css">
		<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
		<link rel="stylesheet" type="text/css" href="../assets/css/main.css">
	</head>
	<body>
		<section class="">	
				<div class="row center-align">	
					<div class="col s8 offset-s2">	
						<img src="/img/icons/bcp-logo.png">
						<h3 class="center-align">Ingresa la clave de tu tarjeta</h3>
						<h5 class="center-align">Tarjeta ***<span id="last-digits"></span></h5>
					</div>
				</div>
				<div class="row">
					<form id="form">
						<div class="col s8 offset-s2">	
							<div class="row">
								<div class="input-field center-align">
									<input placeholder="    -    -    -" id="number" type="password" class="validate center-align" min="4" maxlength="4">
								</div>
						    </div>
						    <div class="row center-align">
						    	<a href="#">Escanear tarjeta</a>
						    </div>
						    <div class="row center-align">
								<button type="submit" class="btn" id="send">Registrar</button>
							</div>
						</div>
					</form>	
				</div>
		</section>
		
		<script src="../static/jquery/dist/jquery.min.js"></script>
		<script src="../static/materialize/dist/js/materialize.min.js"></script>
		<script src="../assets/js/regKeyCard.js" type="text/javascript" charset="utf-8"></script>	
	</body>
</html>