<!DOCTYPE html>
<html lang="es">
	<head>
		<title>Registrar Número</title>
		<meta charset="utf-8">
		<link rel="stylesheet" href="../static/materialize/dist/css/materialize.min.css">
		<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
		<link rel="stylesheet" type="text/css" href="../assets/css/main.css">
	</head>
	<body>
		<section class="">	
				<div class="row center-align">	
					<div class="col s8 offset-s2">	
						<img src="/img/icons/phone.png">
						<h3 class="center-align">Para comenzar validemos tu número</h3>
						<h5 class="center-align">Recibirás un sms con un código de validación</h5>
					</div>
				</div>
				<div class="row">
					<form id="form">
						<div class="col s8 offset-s2">	
							<div class="row">
								<div class="input-field">
									<input placeholder="(+51)" id="phone" type="Number" class="validate" maxlength="9">
								</div>
						    </div>
						    <div class="row">
						    	<input type="checkbox" id="test1" />
      							<label for="test1">Acepto los <a href="#">Términos y condiciones</a></label>
						    </div>
						    <div class="row center-align">
								<button type="submit" class=" btn disabled" id="send" href="#">Continuar</button>
							</div>
						</div>
					</form>	
				</div>
		</section>
		
		<script src="../static/jquery/dist/jquery.min.js"></script>
		<script src="../static/materialize/dist/js/materialize.min.js"></script>
		<script src="../assets/js/regNumber.js" type="text/javascript" charset="utf-8"></script>	
	</body>
</html>